<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pe.idat.appminimarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Modelo.VariableGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityReClienteEnvio"></activity>
        <activity
            android:name=".CategoriaListActivity"
            android:label="@string/title_activity_producto_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProductoDetalleActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrarActivity" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppMinimarket.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>